commandoo.xcf
lib
code/lib
code/*.ini
code/*.bak
code/*.dbg
code/commandoo
code/commandoo64*
code/commandoo.settings
code/*.data
code/*.sqlite
code/searchesXXX/.*
download/*
code/DBBak/*
code/*.lrj
code/backup/
code/commandoo.res



